<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <title>Home - {{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>

    {% if pur_ser %}
    <form action='/order' method="POST">
        <fieldset>
            <legend>Quick Order</legend>
                <label urlFor="order-options">Order: </label>
                <input list="order-options" name="order" placeholder="Double-click...">
                <datalist id="order-options">
                    <option value="Milk" />
                    <option value="Eggs" />
                    <option value="Yogurt" />
                    <option value="Cheese" />
                </datalist>
                <br>

                <label urlFor="order-name">Name: </label>
                <input type="text" id="order-name" name="name" placeholder="Type here...">

                <input type="submit" value="Submit">
        </fieldset>
    </form>
    {% else %}
    <h4 class="error-msg">Sorry, our purchasing server is down. Try again later!</h4>
    {% endif %}
</body>
</html>